.appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  background: #808080;
  padding: 12;
}

.brand {
  font-size: 48px;
  color: white;
  padding: 12px;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-title {
  display: inline-block;
  margin: 0;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-wrapper>button {
  margin: 0 0.5rem;
}